
#teamimgt {
    width: 70%;
    /* height: 400px; */
}
#teamintrot {
    padding-left: 150px;
    padding-right: 150px;
}
#prsnlimgst {
    margin-top: 70px;
}


.img1t {
    height: 200px;
    width: 200px;
   
}